.navbar {
    background-color: rgb(220, 218, 218);
    .navbar-brand {
        color: rgb(255, 0, 128);
    }

    .navbar-brand:hover {
        color: rgb(255, 0, 174);
    }

    .nav-link {
        color: rgb(189, 1, 129);
        width: fit-content;
    }
    .nav-link:hover {
         color: rgb(244, 56, 213);
    }
    .cur {
        background-color: rgba(3, 76, 116, 0.414);
        color: white;
    }
    .cur:hover {
        box-shadow: 1px 1px 3px 1px grey, -1px -1px 3px 1px grey;
    }
}